h1{
	color:red;
}
#a1{
	color:aqua;
}
.a2{
	color:blue;
}
/* برای انتخاب تمام المان ها از * استفاده میکنیم*/

/* 	چنانچه دو سلکتور از محتوای یکسانی برخوردار باشند مانند زیر عمل میکنیم
h1,p{
	....
}
*/
.a3{
	color:rgba(200,0,124);
}
a{
	color:rgba(270,0,340);
}
.mybg{
	width:800px;
	height:800px;
	background-size:50%;
	background-image:url("../pic/a.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:left;
}
table{
	border-width:3px;
	border-style:solid;
	border-color:green;
	border-radius:5px;
}
th,tr,td{
	border:2px dashed blue;
}
.text3{
	margin-bottom:30px;
	padding:5px 6px;
}
